{% extends "layout.html" %}

{% block body %}

    <p>
       <h1>Hoşgeldiniz </h1> 
    </p>
<br>
    <p>    
        <h4>
            Bu web uygulamasında ülkenin çeşitli yerlerindeki etkinliklere katılabilir, detaylarını görüntüleyebilir veya dilerseniz bu etkinlikleri organize edebilirsiniz.
        </h4>
    </p>
    <br>
    <p>

        <h4>
            <a href="/profile" style="color: grey; text-decoration: none;">Profil</a> kısmından kullanıcı bilgilerinize ulaşabilir, ilgi alanlarınızı kişiselleştirebilir ve konumunuzu seçebilirsiniz.
        </h4>

    </p>
    <br>

    <p>
        <h4>                     <a href="/eventmap" style="color: grey; text-decoration: none;">Etkinliklere katılarak</a>
            ve <a href="/addevent" style="color: grey; text-decoration: none;">etkinlik düzenleyerek</a> puanlar biriktirebilirsiniz.
        </h4>

    </p>
    <p>
        <h4>
            -Her katıldığın etkinlik başına  <b>10 puan</b>
        </h4>
    </p>
    <p>
        <h4>
            -Her oluşturduğun etkinlik başına <b>15 puan</b>  
        </h4>
    </p>
    <p>
        <h4>
            -İlk katıldığın etkinlik için <b>20 puan</b>  kazanırsın.
        </h4>
    </p>
    <br>

    <p>
<h4>
    <a href="/chats" style="color: grey; text-decoration: none;">Mesajlaşma</a> kısmında çeşitli sohbet gruplarında mesajlaşabilir, etkinliklerdeki insanlarla tanışabilirsiniz.

</h4>

    </p>
    <br>

    <p>

        <h4>

            <a href="/stats" style="color: grey; text-decoration: none;">İstatistikler</a> sayfasında kazandığın puanları ve daha önce kaç etkinliğe katıldığın gibi çeşitli istatistikleri görebilirsin.

        </h4>
    </p>

    <p>

        <h4>

           Hangi etkinliğe katılacağına karar veremediysen <a href="/eventadvice" style="color: grey; text-decoration: none;">etkinlik öner</a> sayfasında konumuna ve ilgi alanına en uygun etkinlik karşına çıkıcak.

        </h4>
    </p>
    

    

{% endblock body %}